spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hibernate_rest_api_db
    username: postgres
    password: Qwerty123
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true

    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

